.category-tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    background-color: #17a2b8;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.category-tag .btn-close {
    position: static;
    margin-left: 5px;
    opacity: 0.8;
    width: 16px;
    height: 16px;
    padding: 0;
}

.category-tag .btn-close:hover {
    opacity: 1;
}

.btn-close-white {
    filter: brightness(0) invert(1); /* Simplifica o filtro para garantir que o "x" seja branco */
    background-color: transparent;
    border: none;
}